
// Copyright 2015  Malcolm Inglis <http://minglis.id.au>
//
// This file is part of Libmaybe.
//
// Libmaybe is free software: you can redistribute it and/or modify it under
// the terms of the GNU Affero General Public License as published by the
// Free Software Foundation, either version 3 of the License, or (at your
// option) any later version.
//
// Libmaybe is distributed in the hope that it will be useful, but WITHOUT ANY
// WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
// FOR A PARTICULAR PURPOSE. See the GNU Affero General Public License for
// more details.
//
// You should have received a copy of the GNU Affero General Public License
// along with Libmaybe. If not, see <https://gnu.org/licenses/>.


// This file is the result of rendering:
//
//     {{template_path}}
//
// You should make changes to this file by tuning the build process, or (at a
// stretch) modifying the generation script or template file; not by editing
// this file as-is.


#ifndef LIBMAYBE_DEF_MAYBE_{{macroname}}_H
#define LIBMAYBE_DEF_MAYBE_{{macroname}}_H


#include <libtypes/types.h>
{% for p in sys_headers %}
#include <{{p}}>
{% endfor %}

{% for path in rel_headers %}
#include "{{p}}"
{% endfor %}


typedef struct maybe_{{funcname}} {
{% if value_member is defined %}
    {{value_member}};
{% else %}
    {{type}} value;
{% endif %}
    bool nothing;
} Maybe_{{typename}};


#endif // ifndef LIBMAYBE_DEF_MAYBE_{{macroname}}_H

